<div class="mt-3">
    <form>
        <div class="row my-3">
            <div class="col-3 mt-1 text-center text-white">तारीख :</div>
            <div class="col-6">
                <input type="date" class="form-control inpStyle" style="padding-right: 5px;padding-left: 5px;">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-3 mt-1 text-center text-white">प्रकार :</div>
            <div class="col-6">
               <!-- <ngx-select  [items]="dropdownOptions" placeholder="Select"> -->
              <!-- </ngx-select> -->
            </div>
        </div>
    </form>
</div>